@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
/* 
body {
	@apply bg-map object-cover max-w-screen-2xl bg-cover bg-center h-screen flex items-center justify-center;
} */

.button {
	display: flex;
	text-align: center;
	text-justify: auto;
	max-width: 24rem;
	margin: 0 auto;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background-color: rgb(69, 75, 128);
	color: white;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.chat-notification-logo-wrapper {
	flex-shrink: 0;
}

.chat-notification-logo {
	height: 3rem;
	width: 3rem;
}

.chat-notification-content {
	margin-left: 1.5rem;
	padding-top: 0.25rem;
}

.chat-notification-title {
	color: #1a202c;
	font-size: 1.25rem;
	line-height: 1.25;
}

.chat-notification-message {
	color: #718096;
	font-size: 1rem;
	line-height: 1.5;
}

/* .myButton {
  @apply text-black bg-sky-200 hover:bg-blue-300 px-10 py-5 font-serif text-lg text-black border-none rounded-2xl cursor-pointer opacity-60;
} */

.button-border {
    color: #333333;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #D6DF3D;
    box-shadow: 0 4px 1px rgba(120, 123, 92, 0.8); /* Add strong drop shadow */
}