@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {}

.button {
	display: flex;
	text-align: center;
	text-justify: auto;
	max-width: 24rem;
	margin: 0 auto;
	padding: 1.5rem;
	border-radius: 0.5rem;
	background-color: rgb(69, 75, 128);
	color: white;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.chat-notification-logo-wrapper {
	flex-shrink: 0;
}

.chat-notification-logo {
	height: 3rem;
	width: 3rem;
}

.chat-notification-content {
	margin-left: 1.5rem;
	padding-top: 0.25rem;
}

.chat-notification-title {
	color: #1a202c;
	font-size: 1.25rem;
	line-height: 1.25;
}

.chat-notification-message {
	color: #718096;
	font-size: 1rem;
	line-height: 1.5;
}